.App {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h1 {
  font-size: 2rem;
  color: #b35858;
  margin-bottom: 20px;
}


h2[data-testid="winner-display"] {
  font-size: 1.5rem;
  color: #29556c;
  margin-bottom: 300px;
  position: absolute;
}


.PokemonVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.PokemonCard {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
}


.PokemonVote button {
  background-color: #dfd2c9;
  color: rgb(81, 72, 72);
  border-style: outset;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.PokemonVote button:hover {
  transform: scale(1.05);
}
